        * {
            margin: 0;
            box-sizing: border-box;
            padding: 0;
        }

        :root {
            --main-color: #345A86;
            --second-color: #4974B2;
        }

        body {
            font-family: 'Inter';
            font-size: 20px;
            width: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            position: relative;
            
        }
        section {
            flex: 1;
        }
        .arrow {
            position: fixed;
            color: black;
            top: 50%;
            z-index: 10;
            cursor: pointer;
            font-size: 30px;
            left: 0;
            transition: left 0.3s ease;
        }

        .side-panel {
            color: #000;
            position: fixed;
            top: 0;
            left: -151px;
            width: 150px;
            height: 100%;
            background-color: #fff;
            transition: left 0.3s ease;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .side-panel-text {
            position: absolute;
            top: 0;
            text-align: center;
        }

        .side-panel.panel-open {
            left: 0;
        }

        .arrow.panel-open {
            left: 150px;
            transform: rotate(180deg);
        }

        .side-panel-card {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
        }

        .color-blue {
            width: 50px;
            height: 50px;
            background-color: #345A86;
            cursor: pointer;
        }

        .color-green {
            width: 50px;
            height: 50px;
            background-color: #3C8A62;
            cursor: pointer;
        }

        .color-pink {
            width: 50px;
            height: 50px;
            background-color: #B2527D;
            cursor: pointer;
        }

        .header-help {
            padding: 5px 5px;
            background-color: var(--main-color);
            height: 100%;
        }

        .container {
            margin: auto;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .header-help-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header-help-left {
            display: flex;
            gap: 53px;
            align-items: center;
        }

        .header-help-social {
            display: flex;
            gap: 14px;
            align-items: center;
        }

        .header-help-social a {
            display: flex;
            align-items: center;
        }

        .burger {
            display: none;
        }

        .header-help-support {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .header-help-right {
            display: flex;
            gap: 53px;
            align-items: center;
        }

        .header-help-menu {
            display: flex;
            align-items: center;
            gap: 14px;
        }

        .header-help-menu a {
            display: flex;
            align-items: center;
        }

        .header-help-mail {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .header-help-select {
            background-color: var(--main-color);
            color: #FFFFFF;
            font-size: 20px;
            border: none;
            cursor: pointer;
        }

        .header-help-select-mob {
            display: none;
        }

        .header-nav {
            background-color: var(--second-color);
            height: 90px;
            font-size: 20px;
        }

        .header-nav-info {
            display: flex;
            justify-content: space-between;
        }

        .header-nav-left {
            background-color: var(--second-color);
            height: 90px;
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .header-nav-select {
            background-color: var(--second-color);
            color: #FFFFFF;
            font-size: 20px;
            border: none;
            cursor: pointer;
        }

        .header-help-menu-burger {
            background-color: #345A86;
            position: fixed;
            top: 0;
            left: 0;
            width: 300px;
            height: auto;
            padding: 10px 30px;
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 99;
        }

        .close-btn {
            position: fixed;
            top: 16px;
            right: 100px;
            background-color: transparent;
            border: none;
            font-size: 20px;
            color: #fff;
            cursor: pointer;
            z-index: 101;
        }

        .menu-mobile-burger {
            display: none;
            flex-direction: column;
            gap: 10px;
            background-color: #4974B2;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 300px;
            height: 100vh;
            padding: 70px 20px;
            z-index: 100;
        }

        .menu-toggle {
            display: block;
            background-color: #4974B2;
            color: white;
            text-decoration: none;
            cursor: pointer;
            padding: 10px;
        }

        .dropdown-menu {
            display: none;
            flex-direction: column;
            gap: 10px;
            background-color: #598AD0;
            width: 260px;
        }

        .dropdown-menu a {
            color: #333;
            padding: 5px 10px;
            text-decoration: none;
        }

        .dropdown-menu a:hover {
            background-color: #4974B2;
        }

        .dropdown.open .menu-toggle {
            background-color: #4974B2;
            color: #fff;
            transition: background-color 0.3s ease;
        }

        .dropdown.open .dropdown-menu {
            display: flex;
        }

        .menu-toggle-2 {
            display: block;
            background-color: #4974B2;
            color: white;
            text-decoration: none;
            cursor: pointer;
            padding: 10px;
        }

        .header-help-social-burger {
            background-color: #345A86;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 300px;
            display: flex;
            gap: 25px;
            justify-content: center;
        }

        .menu-mobile-burger.open {
            display: flex;
        }

        .menu-mobile-burger.open {
            z-index: 100;
        }

        .partners-info-img .logo {
            z-index: 10;
            transition: opacity 0.3s ease;
        }

        .menu-mobile-burger.open~.partners-info-img .logo {
            opacity: 0;
        }

        .menu-mobile {
            display: none;
        }

        .header-nav-center {
            position: relative;
        }

        .header-nav-ellipse {
            width: 156px;
            height: 148px;
            background-color: var(--second-color);
            border-radius: 50%;
            display: inline-block;
        }

        .header-nav-logo {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .header-nav-right {
            background-color: var(--second-color);
            height: 90px;
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .platonus-btn {
            font-size: 20px;
            line-height: 100%;
            color: #f5f5f5;
            background: var(--main-color);
            border-radius: 8px;
            padding: 12px;
            text-decoration: none;
        }

        .platonus-btn:hover {
            background-color: rgb(28, 47, 73);
        }

        .header-main {
            margin-top: 14px;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
        }

        .header-main-wrap {
            background-color: var(--main-color);
            display: flex;
            gap: 75px;
        }

        .header-main-left {
            width: 30%;
            padding: 81px 0px 0 59px;
        }

        .header-main-title {
            font-size: 40px;
        }

        .header-main-link {
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            row-gap: 23px;
        }

        .header-main-reward {
            border-radius: 8px;
            padding: 12px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            background: var(--second-color);
            width: 210px;
            height: 44px;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        .header-main-egov {
            border-radius: 8px;
            padding: 12px;
            width: 263px;
            height: 44px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            background: #f3f0a5;
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }

        .header-main-right {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
        }

        .header-main-right img {
            height: 100%;
            object-fit: contain;
        }

        .header-buttons {
            margin-top: 20px;
        }

        .header-buttons-wrap {
            background-color: var(--main-color);
            padding: 29px 0px 29px;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            gap: 32px;
        }

        .header-buttons-wrap a {
            border-radius: 8px;
            padding: 12px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            background: var(--second-color);
            color: #fff;
            font-weight: bold;
            text-decoration: none;
        }

        .sections-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 100px;
        }

        .sections-buttons {
            display: flex;
            margin-top: 41px;
        }

        .active {
            padding: 12px;
            background: var(--main-color);
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }

        .disabled {
            padding: 12px;
            background: var(--main-color);
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            border: none;
            background: var(--second-color);
            opacity: 0.45;
            cursor: pointer;
        }

        .sections-cards {
            display: flex;
            margin-top: 30px;
            gap: 75px;
            flex-wrap: wrap;
            flex-grow: 1;
            justify-content: center;
        }

        .sections-card-info {
            background-color: var(--main-color);
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 350px;
            overflow: hidden;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            border-radius: 0 0 4px 4px;
        }

        .sections-card-info a {
            align-self: flex-end;
            margin-top: auto;
            text-decoration: none;
            padding: 0px 28px 14px 0;
            font-weight: 800;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            color: #fff;
            opacity: 0.6;
        }

        .sections-card-text {
            padding: 16px 28px 33px 28px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

        .about {
            margin-top: 100px;
            background-color: var(--second-color);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background-image: url('../img/template/about.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            padding: 100px 0 100px;
        }

        .about img {
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        .about-text {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

        .about-text h3 {
            width: 40%;
        }

        .about-text p {
            width: 80%;
        }

        .links {
            margin-top: 100px;
        }

        .links-wrap {
            display: flex;
            margin-top: 40px;
            background-color: var(--main-color);
        }

        .links-left {
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        .links-left img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .links-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 100px;
            width: 80%;
        }

        .links-h2 {
            display: none;
        }

        .links-card {
            display: flex;
            align-items: center;
            background-color: var(--second-color);
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }

        .links-right-text {
            display: flex;
            flex-direction: column;
            row-gap: 17px;
        }

        .partners {
            color: #000;
            font-weight: bold;
            font-size: 30px;
            margin-top: 100px;
        }

        .partners-info {
            width: 80%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }

        .partners-info-img {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .partners-info-img img {
            width: 180px;
        }

        .about-university {
            margin-top: 100px;
        }

        .about-university h2 {
            color: #000;
            text-align: center;
            max-width: 100%;
        }

        .about-university-main {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }

        .about-university-left,
        .about-university-right {
            width: 50%;
        }

        .about-university-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .about-university-left h3 {
            background-color: var(--main-color);
            padding: 25px;
            font-size: 40px;
        }

        .about-university-card {
            background-color: var(--second-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .about-university-right img {
            width: 100%;
            height: 100%;
        }

        .about-university-p {
            width: 100%;
            justify-content: center;
            display: flex;
            font-size: 25px;
        }

        .live {
            margin-top: 100px;
        }

        .live h2 {
            text-align: center;
            color: #000;
        }

        .live-wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 120px
        }

        .live-card {
            display: flex;
            flex-direction: column;
            width: 45%;
            background-color: var(--main-color);
            margin-top: 40px;
        }

        .live-card h3 {
            text-align: center;
            font-weight: bold;
            padding: 15px 15px 0 15px;
            font-size: 16px;
            display: -webkit-box;
        }

        .live-card a {
            text-align: right;
            text-decoration: none;
            opacity: 0.6;
            color: #fff;
            padding: 6px 16px 7px;
        }

        .live-card img {
            width: 100%;
            height: 100%;
        }

        .footer-container {
            max-width: 1350px;
            width: 100%;
            margin: auto;
        }

        footer {
            margin-top: 100px;
            background-color: var(--main-color);
        }

        .footer-wrapper {
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .footer-block {
            width: 30%;
            margin-top: 25px;
        }

        .block-content1 {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .block-content2 {
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            gap: 20px;
            align-items: center;
            text-align: center;
        }

        .block-content-text p {
            font-size: 16px;
        }

        .block-content-text h2 {
            font-size: 20px;
        }

        .footer-upper-line {
            height: 60px;
            width: 100%;
            background-color: var(--second-color);
        }

        /* contacts.html */

        .contacts {
            padding: 90px 0;
            margin-right: 40px;
            text-align: center;
        }

        .contacts h1 {
            font-size: 32px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 40px;
            color: #2D4B76;
        }

        .contacts-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .contacts-info div {
            background: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 20px;
            width: 300px;
            text-align: center;
        }

        .contacts-info h2 {
            font-size: 20px;
            margin-bottom: 10px;
            color: #4974B2;
        }

        .contacts-info h3 {
            font-size: 15px;
            margin-bottom: 10px;
            color: #4974B2;
        }

        .contacts-info p {
            font-size: 16px;
            color: #333;
            margin: 5px 0;
        }

        .map {
            margin-top: 30px;
            padding: 20px 0;
            background-color: #f5f5f5;
        }

        .map h2 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
            color: #2d4b76;
        }

        .map-container {
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
        }

        /*Blog*/

        .rector-blog-page h1 {
            font-size: 32px;
            margin-top: 65px;
            padding: 31px 0 49px 0;
            color: #2D4B76;
            text-align: center;
        }

        .rector-blog-wrapper {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-bottom: 75px;
        }

        .rector-blog-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background-color: #D9D9D9;
            border-radius: 10px;
        }

        .rector-blog-card img {
            width: 100%;
            height: auto;
            padding-top: 25px;
            padding-left: 25px;
            padding-right: 25px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .rector-blog-card-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 22px 25px 0 25px;
            row-gap: 12px;
            width: 100%;
            font-size: 25px;
            color: #2D4B76;
            text-align: justify;
        }

        .rector-blog-card-text h2 {
            font-size: 30px;
            text-align: center;
        }

        .rector-blog-info {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            font-size: 20px;
            margin-top: auto;
            padding-bottom: 20px;
            color: #2D4B76;
        }

        /* elib */
        .elib {
            padding-top: 65px;
            color: black;
        }

        .elib-h2 {
            font-size: 32px;
            padding: 31px 0 49px 0;
            color: #2D4B76;
            text-align: center;

        }

        .elib-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 40px;
        }

        .elib-card {
            border-radius: 10px;
            width: 468px;
            height: 174px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .elib-content {
            padding: 20px 27px 20px 27px;
        }

        .elib-download {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 20;
            padding-bottom: 20px;
        }

        .elib-download a {
            text-decoration: none;
            color: #000;
            display: flex;
        }

        .elib-content p {
            font-size: 10px;
            color: #969696;
        }

        .elib-content h3 {
            font-weight: 400;
            font-size: 18px;
            padding: 28px 0 30px;

        }

        .elib img {
            font-size: 13px;
        }

        .elib span {
            font-weight: bold;
            font-size: 13px;
            padding-left: 10px;

        }

        /* page-news */
        .page-news{
            padding-top: 100px;
            color: #000;
        }

        .page-news h1{
            text-align: center;
        }

        .page-news-wrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-grow: 1;
            gap: 40px;
            padding-top: 71px;
        }

        .page-news-card{
            border-radius: 10px;
            background-color: #d9d9d9;
            height: auto;
            position: relative;
        }

        .page-news-card, 
        .page-news-card img{
            width: 370px;
        }

        .page-news-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .page-news-content h2{
            font-size: 20px;
            padding: 15px 40px 0 40px;
        }

        .page-news-content p{
            font-size: 14px;
            padding: 40px 22px 71px 22px;
        }

        .page-news-template{
            font-size: 14px;
            padding: 71px 15px 10px 15px;
            opacity: 0.5;
            display: flex;
            justify-content: space-between;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }   

        @media (max-width: 990px) {
            body {
                font-size: 16px;
            }

            .side-panel {
                width: 100px;
                left: -101px;
            }

            .arrow.panel-open {
                left: 100px;
            }

            .container {
                padding: 0 15px;
            }

            .header-help {
                display: none;
            }

            .header-main {
                flex-direction: column;
            }

            .header-nav {
                width: 100%;
                max-width: none;
                padding: 0;
            }

            .menu-mobile {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }

            .header-nav-left p {
                display: none;
            }

            .header-nav-right p {
                display: none;
            }

            .header-nav-select {
                display: none;
            }

            .burger {
                display: block;
                width: 25px;
                cursor: pointer;
            }

            .burger-close-btn {
                display: block;
                width: 25px;
                cursor: pointer;
            }

            .header-help-select-mob {
                display: block;
                background-color: var(--second-color);
                color: #FFFFFF;
                font-size: 20px;
                border: none;
                cursor: pointer;
            }

            .header-main-wrap {
                display: flex;
                flex-direction: column;
            }

            .header-main-left {
                width: 100%;
                display: flex;
                padding: 25px;
                flex-direction: column;
                align-items: center;
                margin-top: -75px;
            }

            .header-main-reward {
                text-align: center;
                width: 100%;
            }

            .header-main-egov {
                text-align: center;
            }

            .header-main-right {
                order: -1;
            }

            .header-main-right img {
                width: 100%;
            }

            .header-main-title {
                font-size: 28px;
            }

            .header-main-link {
                margin-top: 30px;
                row-gap: 15px;
            }

            .header-buttons-wrap {
                flex-direction: column;
                gap: 20px;
            }

            .header-buttons-wrap a {
                width: 50%;
                text-align: center;
            }

            .sections-cards {
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }

            .sections-card-info {
                width: 80%;
            }

            .sections-card-info img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }

            .about-text h3 {
                width: 100%;
            }

            .about-text p {
                width: 100%;
            }

            .links {
                width: 80%;
                padding-top: 100px;
                margin: auto;
            }

            .links-h2 {
                display: block;
                font-size: 30px;
            }

            .links-wrap {
                padding: 15px 0 15px;
            }

            .links-left {
                display: none;
            }

            .links-right {
                row-gap: 50px;
                width: 100%;
            }

            .links-card {
                flex-direction: column;
                gap: 17px;
                background-color: var(--main-color);
                margin-top: -15px;
            }

            .links-right p {
                display: none;
            }

            .partners-info p {
                font-size: 25px;
            }

            .partners-info img {
                height: auto;
            }

            .about-university-left,
            .about-university-right {
                width: 100%;
            }

            .about-university-right img {
                object-fit: cover;
            }

            .about-university-left h3 {
                padding: 15px;
                font-size: 24px;
            }

            .about-university-p {
                font-size: 20px;
            }

            .live-wrapper {
                flex-direction: column;
                gap: 20px;
                width: 80%;
                margin: auto;
            }

            .live-card {
                width: 100%;
            }

            .footer-container {
                padding: 0 75px 0 75px;
            }

            .footer-wrapper {
                flex-direction: column;
                margin-top: 25px;
            }

            .footer-block {
                width: 100%;
                margin-top: 0px;
            }

            /* elib */

            .elib-wrapper {
                align-items: center;
                justify-content: center;
            }

            .elib-card {
                width: 600px;
            }
        }

        @media (max-width: 810px) {
            .page-news-wrapper{
                justify-content: center;
            }

        }

        @media (max-width: 768px) {
            .partners-info-img img {
                width: 140px;
            }

            .header-buttons-wrap a {
                width: 79%;
                text-align: center;
            }

            /*Contacts*/
            .contacts {
                font-size: 24px;
                margin-left: auto;
                margin-right: auto;
            }

            .contacts-info {
                font-size: 18px;
                flex-direction: column;
                align-items: center;
            }

            .contacts-info div {
                font-size: 18px;
                width: 90%;
            }

            /*Blog*/
            .rector-blog-page h1 {
                font-size: 32px;
                padding: 20px 0 30px 0;
            }

            .rector-blog-card-text {
                font-size: 18px;
                padding: 15px;
            }

            .rector-blog-card-text h2 {
                font-size: 22px;
            }

            .rector-blog-info {
                font-size: 16px;
                padding-bottom: 15px;
            }
        }

        @media (max-width: 640px) {
            .partners-info-img {
                flex-direction: column;
            }

            .partners-info-img img {
                width: 150px;
            }

            .header-nav-ellipse {
                width: 120px;
                height: 120px;
            }

            .logo {
                width: 100px;
                height: 100px;
            }
            .page-news{
                padding-top: 70px;
            }
            .page-news-wrapper{
                padding-top: 40px;
            }
        }

        @media (max-width: 400px) {
            .header-help-select-mob {
                font-size: 14px;
            }

            .platonus-btn {
                font-size: 14px;
            }

            .sections button {
                font-size: 16px;
            }

            .block-content1 {
                flex-direction: column;
            }

            .footer-block {
                text-align: center;
            }
        }
        @media (max-width: 400px) {

            .page-news-card,
            .page-news-card img{
                width: 300px;
                
            }
        }